[Unit]
Description=Dell SupportAssist Device
Documentation=http://www.dell.com/en-us/work/learn/supportassist

After=dev-disk-by\x2did-usb\x2diDRAC_NATOSC_20151118\x2d0\x2d0:0.device
Requires=sassist.service
After=sassist.service
BindsTo=sassist-collect.service
RefuseManualStart=true

[Mount]
What=/dev/disk/by-id/usb-iDRAC_NATOSC_20151118-0-0:0
Where=/media/iDRAC_NATOSC
Type=vfat
Options=noexec,rw,sync

[Install]
WantedBy=dev-disk-by\x2did-usb\x2diDRAC_NATOSC_20151118\x2d0\x2d0:0.device
