[Unit]
Description=Enable Dell SupportAssist
Documentation=http://www.dell.com/en-us/work/learn/supportassist

ConditionFileIsExecutable=/usr/sbin/ipmi-raw
ConditionPathExistsGlob=/dev/ipmi*

[Service]
Type=oneshot
ExecStart=/usr/bin/sassist.sh enable

[Install]
WantedBy=multi-user.target
Also=run-media-iDRAC_NATOSC.mount
