language: c
sudo: required
dist: trusty
services:
- docker
env:
- OS=centos
- OS=opensuse
install:
- ./pkg/build-dockerfile.sh $OS
script:
- docker run -e CI=true -t -v `pwd`/dist:/build/dist sassist-$OS
deploy:
  provider: releases
  api_key:
    secure: "tQqO/ZebjkaLz8uImL5vOIkNvpaRnixXJKMPsSXBj7zTs19ENpZ4Sbz/3RUarRwCsoWRxoMmN/GAkpQ1easty1XRtqF1J04XlERpL+5EzvZ1ISjQ7VAGarBdUaAWSr13+ESWJWkdr+hpBv3M0PNPWCaynqzzrVS9PoEjuKtf2Jy0t5xmEPy68+7v77qUBvJuqjX+Kh1oR2nyS8OfG46RKrUHC/C7vFWMGOpcoVQyAOLZigpKeO7IapKMGfjEE5O353hsB4c4K2bfwPBe6n1UPAiWVpIW4dU+pNPLph7esBjpRjbdumJQl0b3Pq3inksuq7zyyqlt+fiU/7aKEEuJbSPWYtpaGtsgyovRMCa8RfN7JnR1GPmHUDA+1lpmiQm37IqBjFZbRsJqRSwhmdB/gRh8bl6dU3OQOPUYVyGFq6xzSF57p916pmKmdN6cWUJDBHnks0PdjBgTgUIsM+ZV/Fd28bslhpP01DzzeCWVqIPzaRFBD8WzYnmHqY9cUhVQ8X6ZO+BagkH58p85FL+WMvOWx3PV7I0PYgr1a/KWioo4kYDAT9asmXuw9zI1rWV/K8cLVaPFvDzCe9ZKN43NXA66lod/pQxpKiPxbEHQaWqpr8WIHIziA/9FO1zuNBvz0ZE7R5Bd7UryoOGErruNfv00qJxi95V3bWt4JsR0nG4="
  file_glob: true
  file: dist/*
  skip_cleanup:  true
  on:
    tags: true
    repo: dell/sassist
